In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_csv('desafio1.csv')

In [4]:
df.shape

(7000, 12)

In [5]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

#### Contar os valores de cada estado para ter ideia a quantidade de cada estado

In [51]:
df.estado_residencia.value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

#### Crio uma lista com os estados unicos, para facilitar a busca das informações para cada estado

In [54]:
ufs = list(df.estado_residencia.unique())

In [55]:
ufs

['SC', 'RS', 'PR']

#### Monto dataframe no formato da minha saida para usar com o pacote json

In [57]:
submission = pd.DataFrame(index=ufs, columns=['moda','mediana','media','desvio_padrao']).fillna(0.0)

In [58]:
submission

    moda  mediana  media  desvio_padrao
SC   0.0      0.0    0.0            0.0
RS   0.0      0.0    0.0            0.0
PR   0.0      0.0    0.0            0.0

In [62]:
submission.index

Index(['SC', 'RS', 'PR'], dtype='object')

#### Buscar as informações para cada estado e  popular o dataframe de saída

In [82]:

for x in ufs:
    
    dados_estado = df[df['estado_residencia']==x]
    submission.loc[x,['moda']] = dados_estado['pontuacao_credito'].mode()[0]
    submission.loc[x,['mediana']] = dados_estado['pontuacao_credito'].median()
    submission.loc[x,['media']] = dados_estado['pontuacao_credito'].mean()
    submission.loc[x,['desvio_padrao']] = dados_estado['pontuacao_credito'].std()

In [83]:
submission

     moda  mediana       media  desvio_padrao
SC  850.0    653.0  649.537653      97.233493
RS  850.0    650.0  651.105143      95.136598
PR  850.0    650.0  648.961294      98.607186

In [84]:
submission.to_json(orient='index')

'{"SC":{"moda":850.0,"mediana":653.0,"media":649.5376527423,"desvio_padrao":97.2334927934},"RS":{"moda":850.0,"mediana":650.0,"media":651.1051428571,"desvio_padrao":95.1365984138},"PR":{"moda":850.0,"mediana":650.0,"media":648.9612940497,"desvio_padrao":98.6071859131}}'

In [90]:
with open('submission.json', 'w', encoding='utf-8') as f:
        for nome in submission.to_json(orient='index'):
            f.write(nome)